$first-color: #FFFFFF;
$second-color: #EEE4F1;
$third-color: #471D4F;
$fourth-color: #F3F3F3;
$fifth-color: #8F8F8F;
$sixth-color: #643762;
$seventh-color: #563461;
$eighth-color: #4D1F5B;
$ninth-color: #BEA1C7;
$tenth-color: #81CE7F;
$eleventh-color: #A6A6A6;
$twelveth-color: #000000;
$thirdteenth-color: #D85252;
$fourteenth-color: #BBBBBB;
$fifteenth-color: #F2F2F2;